@view-transition {
  navigation: auto; /* enabled! */
}

:root {
  --off-white: #fafafa;
  --off-grey: #ededed;
  --dark-bg: #252525;
  --text-primary: #0f172a;
  --brand-secondary: #334155;
  --brand-accent: #245ca6;
  --brand-cta: #f29966;
  --brand-dark: #310E0E;
  --delivered: #59C500;
  --site-max-width: 1280px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

body {
  font-family: var(--font-inter), Inter, Arial, sans-serif;
  background: var(--dark-bg);
  color: var(--text-primary);
}

main,
header {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 80px 20px;
  margin: 0 auto;
}

  @media screen and (max-width: 980px) {
    .wrapper {
      padding: 40px 20px;
    }
  }

.wrapper:nth-child(even) {
  background: var(--off-grey);
}

.wrapper:nth-child(odd) {
  background: var(--off-white);
}

section {
  position: relative;
  max-width: var(--site-max-width);
  margin: 0 auto;
}


  h2 {
    text-wrap: balance;
    font-weight: 500;
    font-size: clamp(2rem, 3vw, 2.8rem);
    line-height: 1.05;
  }

.highlight {
  color: var(--brand-accent);
  font-weight: 600;
}

